<div class="cv">
    <section>
        <h1>Yunus Saydullayev</h1>
        <h2>Web developer</h2>

        <div class="theme-switch-wrapper">
            <label class="theme-switch">
                <input type="checkbox" class="theme-switch__checkbox" />
                <div class="slider round"></div>
            </label>
            <span class="theme-switch__label">Dark Mode</span>
        </div>

        <div class="contacts">
            <div class="contact">
                <div class="contact__type">
                    Github
                </div>
                <div class="contact__value">
                    <a href="https://github.com/yunus563">Githubdadi manzilim</a>
                </div>
            </div>
          
            <div class="contact">
                <div class="contact__type">
                    Email
                </div>
                <div class="contact__value">
                    <a href="mailto:hi.pro.timur@gmail.com">Yunussaydullayev@gmail.com</a>
                </div>
            </div>
              <div class="contact">
                <div class="contact__type">
                    Tel
                </div>
                <div class="contact__value">
                    <a href="#!">+998 93 563 21 06</a>
                </div>
            </div>
        </div>
        <div class="description">
            Men web dasturlash sohasidagi <b>Junior</b> dasturchiman.IT sohasida chuqur bilimga egaman.
            Web dasturlashni 1.5 yil davomida o'rganib kelmoqdaman va hozir ham <b>Frontend</b> va 
            <b>Backend</b>ni o'rganyapman
        </div>
    </section>

    <section>
        <h3>Tajriba</h3>

        <div class="experience">
            <div class="experience__date">15.01.2019 - dan boshlab</div>
            <div class="experience__description">
               
                <div class="experience__company"><b>Ko'nikmalar</b> </div>
                <div class="experience__details">
                    <ul>
                        <li>Html, Css, ES5,6</li>
                        <li>Bootstrap 4,5, Semantic</li>
                        <li>Git, Github</li>
                        <li>JavaScript, Jquery</li>
                        <li>NodeJs(express-generator), Mongodb, Robo3T, Nosql</li>
                        <li>Kichik Test(chai, mocha, travesi)</li>
                        <li>Socket.io</li>
                        <li>Digital Ocean, Heroku,</li>
                        <li>Bower.js, Angular</li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="experience">
            <div class="experience__date">
             <b>Hozirda o'rganyapman</b>
            </div>

            <div class="experience__description">
                    <ul>
                        <li>Sass, Scss, Less, Gulp</li>
                        <li>PHP, React.js </li>
                        <li>Yii yoki Laraver</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="end">
        <h3>Maqsadim</h3>
        <div class="footer">
            Mening maqsadim biron bir Web studiyada ish boshlash va ish tajribasiga ega bo'lish, katta katta real proektlarda 
            ishlash.
        </div>
    </section>
</div>

<script src='javascripts/main.js'></script>